
@{
    <div class="nav-item dropdown ">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
        </button>
        <ul class="dropdown-menu">
            <a class="dropdown-item" href="#">Categories</a>
            <a class="dropdown-item" href="#">User to Categories</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="#">Media Types</a>
        </ul>
    </div>

}
